body{
	background-color: hsl(0, 0%, 97%);
}

.blog_grid{
	display: grid;
	grid-template-rows: 90px 100%;
	grid-template-columns: 300px 300px;
	grid-template-areas:
	"hd hd hd hd"
	"mt cn cn cn";
	;
}
.navigation{
	display: grid;
	grid-area: hd;
	grid-template-columns: 100px 300px;
	border-bottom: solid 1px #00afb9;
	font-weight: bold;
	}

.post_header{
	text-align: center;
	font-size: 40px;
	font-family: helvetica;
	grid-area: hd;
	padding-top:35px;
}
.meta_data{
	grid-area: mt;
	line-height: 30px;
	text-align: right;
	padding-right: 40px;
	padding-top:30px;

}
.content {
	grid-area: cn;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}
@media(min-width: 884px)
{
  .content {
	grid-area: cn;
	text-align: left;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 30px;
	}
}
a{
	text-decoration-line: none;
}
a:visited{
	color: black;
}
a[href^="mailto:"]:visited{
	color: black;
}