h1{
	color:red;
	text-decoration: underline;
	text-align: center;
}
.blog_container{
	display: grid;
	border: 2px solid blue;
	grid-template-columns: 100% ;
	grid-template-rows: 60px 400px ;
	grid-template-areas:
	"hd hd hd hd hd hd"
	"blg blg blg blg blg blg"
	"ft ft ft ft ft ft";

}
.blog_posts_container{
	display: grid;
	border: solid 2px green;
	grid-template-columns: 250px 250px;
	grid-template-rows: 150px 150px;
	justify-content: center;

}
.blog{
	border: solid 2px yellow;
	height: 100px;
	width: 150px;
}
.topbar{
	border: 2px solid red;
	height: 40px;
	grid-area: hd;
}
.footer{
	border: 2px solid black;
	grid-area: ft;
	height: 20px;
}
