h1{
	color:#353535;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	font-family: georgia;
	padding: 20px;
}
body{
	background-color: hsl(0, 0%, 97%);
}
.blog_container{
	display: grid;
	grid-template-columns: 100% ;
	grid-template-rows: 90px ;
	grid-template-areas:
	"hd"
	"blg"
	"ft";
	}


.blog_posts_container{
	display: grid;
	grid-template-columns: 100%x;
	grid-template-rows: 210px 210px;
	justify-content: center;
	grid-gap: 15px;
	padding-top: 20px;

}
@media(min-width: 884px)
{
body{
	background-color: red;
}

.blog_posts_container{
	display: grid;
	grid-template-columns: 450px 350px;
	grid-template-rows: 210px 210px;
	justify-content: center;
	grid-gap: 15px;
	padding-top: 20px;

/*
.blog_container{
	display: grid;
	grid-template-columns: 100% ;
	grid-template-rows: 90px 750px ;
	grid-template-areas:
	"hd hd hd hd hd hd"
	"blg blg blg blg blg blg"
	"ft ft ft ft ft ft";
	}
*/

}

}



.blog{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: solid 5px #457b9d;
	height: 200px;
	width: 350px;
	font-family: helvetica;

}
.topbar{
	height: 80px;
	grid-area: hd;
}
.footer{
	display: grid;
	grid-template-columns: 80% 20%;
	grid-area: ft;
	font-family: calibri;
	height: 20px;
	font-size: 9px
}
.category{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 	20px;
}
.date {
	font-size: 12px;
	font-weight: lighter;
	font-style: italic;
	color: #9CA8AB;
	margin-bottom: 	20px;
}
.title{
	color: #1B2021;
	font-size: 15px;
	font-weight: bold;
}
.topbar{
	display: grid;
	grid-template-columns: 80% 20%;

}
.subscribe{
	color: #353535;
	font-weight:bold;
	font-family: helvetica;
	text-decoration: underline;
}
#travel{
	color: #A22C29;
}
#development{
	color: #fcbf49;
}
#chess{
	color: #0f4c5c;
}
a:visited{
	color: black;
}
a{
	color: blue !important;
	font-weight: bold;
}