.navigation{
	display: grid;
	grid-area: hd;
	grid-template-columns: 100px 300px;
	font-weight: bold;
	}
.header_title{
	text-align: center;
	font-size: 40px;
	font-family: helvetica;
	grid-area: hd;
	padding-top:35px;
	color:#353535;
	font-weight: bold;
	border-bottom: solid 1px #00afb9;

}